/* ==================
    general styling
===================== */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary-color);
}

.layout {
  display: flex;
}

/* ==================
    CSS variables
===================== */

:root {
  --primary-color: #435334;
  --secondary-color: #CEDEBD;
  --tertiary-color: #FFFFFF;
}

/* ==========================
    prevent color changes of the input backgrounds 
============================= */

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

/* ==================
    Form component
===================== */

.form--layout {
  width: 45%;
}

.form {
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 40px;
  margin: 40px;
  border-radius: 5px;
  color: var(--primary-color);
  border-radius: 10px;
}

.form--input,
textarea {
  background-color: var(--tertiary-color);
  border: none;
  border-radius: 5px;
  height: 20px;
  color: var(--primary-color);
  font-size: 17px;
  width: 100%;
}

textarea {
  height: 200px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  resize: none;
}

textarea:focus,
input:focus {
  outline: none;
}

.input--container {
  display: flex;
  gap: 10px;
  width: 100%;
}

.form h1 {
  margin: 0px;
  margin-bottom: 10px;
}

.Form--skillBtn {
  border: none;
  background-color: var(--primary-color);
  border-radius: 5px;
  color: white;
}

.Form--addSKillBtn {
  height: 20px;
  width: 100px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: none;
  border-radius: 5px;
  font-size: 17px;
  font-weight: 900;
  margin: 0 auto;
}

.Form--skillBundle {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.Form--addSKillBtn:active {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.Form--deleteBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 14px;
  height: 14px;
  padding: 5px;
  border-radius: 3px;
  background-color: var(--primary-color);
}

.Form--icon {
  max-width: 20px;
  max-height: 20px;
}

.form--workExperienceBundle input,
.form--educationBundle input {
  margin-bottom: 10px;
  border-radius: 5px;
  color: var(--primary-color);
}

.form--workExperienceBundle,
.form--educationBundle {
  margin-bottom: 10px;
  width: 100%;
}

.uploadBtn,
.downloadBtn {
  font-size: 15px;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  border-radius: 3px;
  padding: 8px;
  margin: 0 auto;
  border: none;
  box-shadow: none;
}

.form--inputBundle {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}

/* ==================
    CV component
===================== */

.CV {
  position: fixed;
  height: 707px ;
  width: 500px;
  background-color: white;
  top: calc(50% - 353.5px);
  right: calc(27.5% - 230px);
  border-radius: 3px;
  color: black;
  display: grid;
  grid-template-columns: 4fr 6fr;
}

.CV--headline {
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 0.4px;
}

.CV--headline:after {
  content: " ";
  display: block;
  border: 2px solid var(--secondary-color);
}
.CV--left,
.CV--right {
  margin: 20px;
  font-size: 10px;
}

.CV--img {
  max-width: 140px;
}

.CV--firstName {
  margin-top: 5px;
  font-weight: 800;
  font-size: 18px;
}

.CV--lastName {
  font-weight: 800;
  font-size: 21px;
  color: var(--secondary-color);
}

.CV--title {
  margin-top: 8px;
  font-size: 13px;
  margin-bottom: 20px;
}

.CV--icon {
  max-width: 13px;
  margin-right: 5px;
}

.CV--aboutMe {
  font-size: 11px;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
}

.bundle {
  margin-top: 9px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 5px;
}

.CV ul {
  font-size: 14px;
  padding-left: 15px;
}

.CV--arrayBundle {
  display: flex;
  flex-direction: column;
  gap: 1px;
  margin-bottom: 14px;
  margin-top: 5px;
}

.CV--timeframe {
  font-size: 13px;
}

.CV--position {
  margin-top: 1px;
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 1px;
}

.CV--institution {
  font-size: 13px;
  margin-bottom: 5px;
}

.CV--description {
  font-size: 11px;
}

/* ==================
    Media Queries
===================== */

@media only screen and (max-width: 1000px) {
  .layout {
    flex-direction: column;
    align-items: center;
  }

  .CV {
    position: inherit;
    margin: 40px;
  }

  .form--layout {
    width: 100%;
  }
}
