/* ==================
    general styling
===================== */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary-color);
  max-width: 100%;
}



/* ==================
    CSS variables
===================== */

:root {
  --primary-color: #435334;
  --secondary-color: #CEDEBD;
  --tertiary-color: #FFFFFF;
  --shrink-factor: 1
}

/* ==========================
    prevent color changes of the input backgrounds 
============================= */

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

/* ==================
    Form component
===================== */

.form--layout {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 30%;
  margin-top: 40px;
  margin-left: 3rem
}

.form {
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 40px;
  border-radius: 5px;
  color: var(--primary-color);
  border-radius: 10px;
  width: 100%
}

.form--input,
textarea {
  background-color: var(--tertiary-color);
  border: none;
  border-radius: 5px;
  height: 20px;
  color: var(--primary-color);
  font-size: 17px;
  width: 100%;
}

textarea {
  height: 200px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  resize: none;
}

textarea:focus,
input:focus {
  outline: none;
}

.input--container {
  width: 100%;
  gap: 1rem;
  display: flex;
}

.form h1 {
  margin: 0px;
  margin-bottom: 10px;
}

.Form--skillBtn {
  border: none;
  background-color: var(--primary-color);
  border-radius: 5px;
  color: white;
}

.Form--addSKillBtn {
  height: 20px;
  width: 100px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: none;
  border-radius: 5px;
  font-size: 17px;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Form--skillBundle {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  width: 100%;
}

.Form--addSKillBtn:active {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.Form--deleteBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 14px;
  height: 14px;
  padding: 5px;
  border-radius: 3px;
  background-color: var(--primary-color);
}

.Form--icon {
  max-width: 20px;
  max-height: 20px;
}

.form--workExperienceBundle input,
.form--educationBundle input {
  margin-bottom: 10px;
  border-radius: 5px;
  color: var(--primary-color);
}

.form--workExperienceBundle,
.form--educationBundle {
  margin-bottom: 10px;
  width: 100%;
}

.uploadBtn,
.downloadBtn {
  font-size: 15px;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  border-radius: 3px;
  padding: 8px;
  border: none;
  box-shadow: none;
  display: flex;
  align-items: center;
  gap: 10px
}

.form--inputBundle {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}

/* ==================
    CV component
===================== */

.CV {
  position: fixed;
  height: calc( 707px * var(--shrink-factor)) ;
  width: calc( 500px * var(--shrink-factor));
  background-color: white;
  top: calc(var(--shrink-factor) * (50% - 353.5px));
  right: calc(var(--shrink-factor) * (27.5% - 230px));
  border-radius: 3px;
  color: black;
  display: grid;
  grid-template-columns: 4fr 6fr;
}

.CV--headline {
  font-size: calc( 15px * var(--shrink-factor));
  font-weight: bold;
  letter-spacing: calc( 0.4px * var(--shrink-factor));
}

.CV--headline:after {
  content: " ";
  display: block;
  border: calc( 2px * var(--shrink-factor)) solid var(--secondary-color);
}
.CV--left,
.CV--right {
  margin: calc( 20px * var(--shrink-factor));
  font-size: calc( 10px * var(--shrink-factor));
}

.CV--img {
  max-width: calc( 140px * var(--shrink-factor));
}

.CV--firstName {
  margin-top: calc( 5px * var(--shrink-factor));
  font-size: calc( 18px * var(--shrink-factor));
  font-weight: 800;
}

.CV--lastName {
  font-weight: 800;
  font-size: calc( 21px * var(--shrink-factor));
  color: var(--secondary-color);
}

.CV--title {
  margin-top: calc( 8px * var(--shrink-factor));
  font-size: calc( 13px * var(--shrink-factor));
  margin-bottom: calc( 20px * var(--shrink-factor));
}

.CV--icon {
  max-width: calc( 13px * var(--shrink-factor));
  margin-right: calc( 5px * var(--shrink-factor));
}

.CV--aboutMe {
  font-size: calc( 11px * var(--shrink-factor));
  margin-top: calc( 10px * var(--shrink-factor));
  margin-bottom: calc( 10px * var(--shrink-factor));
  text-align: left;
}

.bundle {
  margin-top: calc( 9px * var(--shrink-factor));
  margin-bottom: calc( 5px * var(--shrink-factor));
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.CV ul {
  font-size: calc( 14px * var(--shrink-factor));
  padding-left: calc( 15px * var(--shrink-factor));
}

.CV--arrayBundle {
  display: flex;
  flex-direction: column;
  gap: calc( 1px * var(--shrink-factor));
  margin-bottom: calc( 14px * var(--shrink-factor));
  margin-top: calc( 5px * var(--shrink-factor));
}

.CV--timeframe {
  font-size: calc( 13px * var(--shrink-factor));
}

.CV--position {
  margin-top: calc( 1px * var(--shrink-factor));
  font-size: calc( 15px * var(--shrink-factor));
  margin-bottom: calc( 1px * var(--shrink-factor));
  font-weight: bold;
}

.CV--institution {
  font-size: calc( 13px * var(--shrink-factor));
  margin-bottom: calc( 5px * var(--shrink-factor));
}

.CV--description {
  font-size: calc( 11px * var(--shrink-factor));
}

/* ==================
    Media Queries
===================== */

@media only screen and (max-width: 1000px) {
  .layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 0 auto;
  }

  .CV {
    position: inherit;
    margin: 40px;
  }

  .form--layout {
    margin-left: 0;
    width: 90%;
    align-items: center;
    align-self: center;
  }
}


@media only screen and (max-width: 550px) {
  :root {
    --shrink-factor: 0.8;
  }
}

@media only screen and (max-width: 450px) {
  :root {
    --shrink-factor: 0.65;
  }
}

@media only screen and (max-width: 360px) {
  :root {
    --shrink-factor: 0.5;
  }
}


/* ==================
    CVPrint component
===================== */

.CVPrint {
  position: fixed;
  height: calc( 707px * 2) ;
  width: calc( 500px * 2);
  background-color: white;
  top: calc(2 * (50% - 353.5px));
  right: 20000px;
  border-radius: 3px;
  color: black;
  display: grid;
  grid-template-columns: 4fr 6fr;
}

.CVPrint--headline {
  font-size: calc( 15px * 2);
  font-weight: bold;
  letter-spacing: calc( 0.4px * 2);
}

.CVPrint--headline:after {
  content: " ";
  display: block;
  border: calc( 2px * 2) solid var(--secondary-color);
}
.CVPrint--left,
.CVPrint--right {
  margin: calc( 20px * 2);
  font-size: calc( 10px * 2);
}

.CVPrint--img {
  max-width: calc( 140px * 2);
}

.CVPrint--firstName {
  margin-top: calc( 5px * 2);
  font-size: calc( 18px * 2);
  font-weight: 800;
}

.CVPrint--lastName {
  font-weight: 800;
  font-size: calc( 21px * 2);
  color: var(--secondary-color);
}

.CVPrint--title {
  margin-top: calc( 8px * 2);
  font-size: calc( 13px * 2);
  margin-bottom: calc( 20px * 2);
}

.CVPrint--icon {
  max-width: calc( 13px * 2);
  margin-right: calc( 5px * 2);
}

.CVPrint--aboutMe {
  font-size: calc( 11px * 2);
  margin-top: calc( 10px * 2);
  margin-bottom: calc( 10px * 2);
  text-align: left;
}

.CVPrint-bundle {
  margin-top: calc( 9px * 2);
  margin-bottom: calc( 5px * 2);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.CVPrint ul {
  font-size: calc( 14px * 2);
  padding-left: calc( 15px * 2);
}

.CVPrint--arrayBundle {
  display: flex;
  flex-direction: column;
  gap: calc( 1px * 2);
  margin-bottom: calc( 14px * 2);
  margin-top: calc( 5px * 2);
}

.CVPrint--timeframe {
  font-size: calc( 13px * 2);
}

.CVPrint--position {
  margin-top: calc( 1px * 2);
  font-size: calc( 15px * 2);
  margin-bottom: calc( 1px * 2);
  font-weight: bold;
}

.CVPrint--institution {
  font-size: calc( 13px * 2);
  margin-bottom: calc( 5px * 2);
}

.CVPrint--description {
  font-size: calc( 11px * 2);
}